body {
    background-image: url("https://ak6.picdn.net/shutterstock/videos/4701506/thumb/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-size: 20px;
    font-weight: 600;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.main {
    margin: 15vh auto;
    background: rgba(228, 107, 8, 0.9);
    padding: 20px;
}
.btn {
    background: maroon;
    color: white;
}
.container{
    height: 100vh;
}
.api-link {
    float: left;
    color: white;
}
.api-link:hover {
    color: yellow;
}